#sobrenos {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#sobrenos_logo {
    width: 500px;
    height: auto;
    margin-right: 70px;
}


#sobrenos_content {
    width: 50%;
}

#sobrenos_conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobrenos-conteudo {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: var(--color-neutral-0);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}


.sobrenos-conteudo-content p {
    display: flex;
    justify-content: space-between;
    text-indent: 40px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}


@media screen and (max-width: 1170px) {
    #sobrenos {
        flex-direction: column;
    }

    #sobrenos_logo {
        display: none;
    }

    #sobrenos_content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #sobrenos_content {
        width: 100%;
    }

    #sobrenos_content p{
        font-size: 0.8rem;
    }

    .sobrenos-conteudo {
        flex-direction: column;
    }
}